@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.grid__style {
    /* position: sticky; */
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.grid__style thead,
.grid__style tr {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid black;
}

.grid__style th {
    position: relative;
    animation: appear 1.5s ease;
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
}

.grid__style th[data-action="true"] {
    min-width: 80px;
    width: 80px;
}

.grid__style th[data-action="false"] {
    min-width: 100px;
}

.thead__content {
    width: fit-content;
    white-space: nowrap;
    font-size: clamp(12px, 2vw, 14px);
    display: flex;
    align-content: center;
    text-align: left;
    position: relative;
    gap: 0.5rem;
}

.grid__style th:last-child>div>div {
    left: 0 !important;
    transform: translate(-50%, 18px);
}

.thead__actions {
    background-color: white;
    height: fit-content;
    min-width: 160px;
    max-height: 250px;
    padding-block: 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    z-index: 5;
    transform: translateY(18px);
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 4px rgb(0 0 0 / 12%), 0 1px 6px rgb(0 0 0 / 24%);
}

.grid__svg__action__button {
    border: 1px solid black;
    height: 1rem;
    width: 1rem;
    transition: box-shadow .2s ease;
    cursor: pointer;
}

.grid__svg__action__button:hover {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.grid__svg__action__button[data-active="true"] {
    background-color: #e7e5e5;
    fill: #424242;
}

/* Actions css ----------------------------------------------------------------*/

.actions__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actions__wrapper>label {
    padding-inline: 5px;
    font-size: clamp(14px, 1vw, 16px);
    font-weight: bolder;
}

/* div actions elements (sort) css ----------------------------------------------------------------*/

.row__actions__wrapper {
    cursor: pointer;
    position: relative;
    padding: 5px 8px;
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 200;
    transition: background-color .2s ease-in-out;
}

.row__actions__wrapper:hover {
    background-color: #e8e8ea7f;
}

.row__actions__wrapper[data-active="true"] {
    background-color: #e8e8ea7f;
}

.row__actions__wrapper[data-active="true"]:hover:before {
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    width: 6px;
    height: 2px;
    right: 8px;
    top: 14px;
}

.row__actions__wrapper[data-active="true"]:hover {
    background-color: crimson;
    color: white;
}

/* div actions wrappers (filters) css ----------------------------------------------------------------*/

.form__filter__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 10px;
    padding-bottom: 10px;
}

.row__inputs__wrapper {
    position: relative;
    width: 100%;
    padding-inline: 10px;
}

.row__inputs__wrapper>input[type="text"] {
    padding-right: 15px;
}

.left__icon__position {
    position: absolute;
    right: 12px;
    top: 2px;
}

.delete__icon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    transition: background-color .2s ease-out;
    border-radius: 50%;
    padding: 1px;
}

.delete__icon:hover {
    color: white;
    background-color: crimson;
}

.loading__icon {
    height: 1rem;
    width: 1rem;
    animation: rotate 1s linear infinite;
}

/* search input css ----------------------------------------------------------------*/

.top__actions__wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.search__input__wrapper {
    position: relative;
    width: 500px;
    padding-inline: 10px;
    display: flex;
    gap: 0.5rem;
}

.search__input__wrapper input[type="text"] {
    width: 100%;
    padding-inline: 1.4rem 1.2rem;
    padding-block: 3px;
    background: white url(/search.png) left/15px no-repeat;
    background-position: 3px;
}

.search__input__wrapper label {
    white-space: nowrap;
}

/* top buttons css --------------------------------------------------------------------*/

.top__button__action {
    padding: 0.2rem 0.6rem;
}

.aside__column {
    position: fixed;
    padding: 0.4rem;
    top: 0;
    right: 0;
    width: 300px;
    background-color: white;
    height: 100%;
    z-index: 6;
}