* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --component_bg: white;
  --shadow: 0 1px 4px rgb(0 0 0 / 12%), 0 1px 6px rgb(0 0 0 / 24%);
  --scroll: rgb(8, 125, 202);
  --scroll_hover: rgb(7, 99, 160);
  --border_shadow_lg: rgba(0, 0, 0, 0.388);
  --border_shadow_sm: rgba(0, 0, 0, 0.177);
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}